[Desktop Entry]
Name=MicWi Studio
Comment=Wireless Microphone to Computer
Exec=/opt/micwi/Micwi
Icon=/usr/share/icons/hicolor/512x512/apps/micwi.svg
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
StartupNotify=true
